<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <title>Landmark Tracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link href="./css/stylesheet.css" rel="stylesheet" />
  <link href="./css/tailwind.css" rel="stylesheet" />
</head>

<body class="bg-gray-700">

  <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg mb-3">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <a class="text-xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white"
          href="/">
          Landmark Tracker
        </a>
      </div>
    </div>
  </nav>

  <main>
    {{{ body }}}

  </main>
  <script src="/javascript/get-location.js"></script>
</body>

</html>