<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <title>Landmark Tracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link href="./css/stylesheet.css" rel="stylesheet" />
  <link href="./css/tailwind.css" rel="stylesheet" />
</head>

<body class="bg-gray-700">

  <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg mb-3">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white"
          href="/">
          Landmark Tracker
        </a>
        <button
          class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
          type="button" onclick="toggleNavbar('example-collapse-navbar')">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
  </nav>

  <main>
    {{{ body }}}

  </main>

  <script src="./javascript/map-markers.js" type="text/javascript"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMd2i_nedPspCAJnJ8CoKbtGeRAsf03Zk&callback=initMap&libraries=&v=weekly"
    type="text/javascript"></script>
</body>

</html>