<div class="grid grid-cols-4 gap-4">
  <div class="col-start-2 col-span-2">
    <form class="login-form">
      <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login"
          class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
      </div>
      <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login"
          class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
      </div>
      <div>
        <button type="submit"
          class="focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 bg-green-600"
          type="button">login</button>
      </div>
    </form>
  </div>
</div>

<div class="grid grid-cols-4 gap-4">
  {{!-- sign up form --}}
  <div class="col-start-2 col-span-2">
    <form class="signup-form">
      <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup"
          class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
      </div>
      <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup"
          class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
      </div>
      <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup"
          class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
      </div>
      <div>
        <button type="submit"
          class="focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 bg-green-600"
          type="button">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/javascript/login.js"></script>