<div class="grid grid-cols-4 gap-4">
  <div class="col-start-2 col-span-2">
    <form class="landmark-form">
      <div>
        <label for="landmark-name">name:</label>
        <input type="text" id="landmark-name"
          class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
      </div>
      <div>
        <label for="landmark-address">address:</label>
        <input type="text" id="landmark-address"
          class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
      </div>
      <div>
        <label for="landmark-lat">latitude:</label>
        <input type="text" id="landmark-lat"
          class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
      </div>
      <div>
        <label for="landmark-lon">longitude:</label>
        <input type="text" id="landmark-lon"
          class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" />
      </div>
      <div>
        <button type="submit"
          class="my-1 p-0.5 focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 bg-green-600"
          type="button">submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/javascript/add_landmark.js"></script>