<div id="map" class="mapArea border-4 rounded-lg border-gray-500"></div>
<div id="errorArea" class="alert d-none"></div>

{{#if loggedIn}}
<!--These buttons would show up after the user signs in-->
<button id="add"
  class="focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 bg-green-600"
  type="button">
  &nbsp;Add Landmark&nbsp;
</button>
<button id="delete"
  class="focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 bg-red-600"
  type="button">
  &nbsp;Delete Landmark&nbsp;
</button>
<button id="sign-out"
  class="focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 custom-buttons"
  type="button">
  &nbsp;Sign out&nbsp;
</button>
{{else}}
<!--These buttons would only be availiable before the user actually signs in-->
<button id="sign-in"
  class="focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 custom-buttons"
  type="button">
  &nbsp;Sign In/Up&nbsp;
</button>
{{/if}}