<div id="map" class="mapArea border-4 rounded-lg border-gray-500"></div>
<div id="errorArea" class="alert d-none"></div>

{{#if loggedIn}}
<!--These buttons would show up after the user signs in-->
<button id="add"
  class="my-1 p-0.5 focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 bg-green-600"
  type="button">
  &nbsp;Add Landmark&nbsp;
</button>
<button id="delete"
  class="my-1 p-0.5 focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 bg-red-600"
  type="button">
  &nbsp;Delete Landmark&nbsp;
</button>
<button id="sign-out"
  class="my-1 p-0.5 focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 custom-buttons"
  type="button">
  &nbsp;Sign out&nbsp;
</button>
{{else}}
<!--These buttons would only be availiable before the user actually signs in-->
<button id="sign-in"
  class="my-1 p-0.5 focus:ring focus:gray-500-border cursor-pointer font-mono button border rounded-lg border-gray-500 custom-buttons"
  type="button">
  &nbsp;Sign In/Up&nbsp;
</button>
{{/if}}

<script src="./javascript/map-markers.js" type="text/javascript"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMd2i_nedPspCAJnJ8CoKbtGeRAsf03Zk&callback=initMap&libraries=&v=weekly"
  type="text/javascript"></script>
{{#if loggedIn}}
<script src="/javascript/signed-in-homepage.js"></script>
{{else}}
<script src="/javascript/signed-out-homepage.js"></script>
{{/if}}